body {
  /* background-image: url("./assets/images/geode-texture.jpeg"); */
  background: rgb(165, 162, 162);
  color: rgb(42, 41, 44)
}
.nav {
  float: right;
  font-size: 32px;
}
.nav-link {
  color: rgb(42, 41, 44);
}


