body {
  /* background-image: url("./assets/images/geode-texture.jpeg"); */
  background: rgb(188, 184, 184) !important;
  color: rgb(42, 41, 44)
}
.nav {
  float: right;
  font-size: 32px;
}
.nav-link {
  color: rgb(42, 41, 44) !important;
}
.nav-link:hover{
  color: rgb(18, 76, 92) !important;
}

/* portfolio images */

.forcastFilms{
  background-image: url('./assets/images/Screenshot-ForecastFilms.jpg');
  background-size: cover;
  background-position: center;
}

.gameporium{
  background-image: url('./assets/images/Screenshot-Gameporium.jpg');
  background-size: cover;
  background-position: center;
}

.project3{
  background-image: url('./assets/images/mountain-image.jpg');
  background-size: cover;
  background-position: center;
}


.smallContainer{
  min-height: 500px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  padding: 0 0 20px 0;
  margin: 20px 0 20px 0;

}

.smallContainer div{
  background-color: antiquewhite;
  padding: 8px 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  border-radius:1em;
}

.smallContainer div a{
  font-size: 20px;
}

.nav-link:hover{
  color: black !important;
}